<!DOCTYPE html>
<html lang="en" ng-app="WordleSolver">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/styles.css" />
    <title>Document</title>
  </head>
  <body ng-controller="WordleSolverController">
      <section class="topnav">
          <h1 id="topnav-header">Wordle Solver</h1>
        <i id="info" class="bi bi-info-circle" ng-click="tutorial"></i>
      </section>
      <section class="divider"></section>
      <section class="white-space"></section>
    <div class="form-group" id="top-form-group">
      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'correct': posA}"
        ng-model="posA"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'correct': posB}"
        ng-model="posB"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'correct': posC}"
        ng-model="posC"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'correct': posD}"
        ng-model="posD"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'correct': posE}"
        ng-model="posE"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'misplaced': posF}"
        ng-model="posF"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'misplaced': posG}"
        ng-model="posG"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'misplaced': posH}"
        ng-model="posH"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'misplaced': posI}"
        ng-model="posI"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />

      <input
        class="textbox"
        type="text"
        maxlength="1"
        ng-class="{'misplaced': posJ}"
        ng-model="posJ"
        ng-keyup="searchOnInput($event)"
        class="form-control"
      />
    </div>
    </div>
    <div id="checkbox-group">
      <div id="checkbox-group-id" >
        <ul id="selection">
          <li>
            <input
              class="incorrect"
              id="chkBox1"
              type="checkbox"
              ng-model="chkBox1"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox1">A</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox2"
              type="checkbox"
              ng-model="chkBox2"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox2">B</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox3"
              type="checkbox"
              ng-model="chkBox3"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox3">C</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox4"
              type="checkbox"
              ng-model="chkBox4"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox4">D</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox5"
              type="checkbox"
              ng-model="chkBox5"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox5">E</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox6"
              type="checkbox"
              ng-model="chkBox6"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox6">F</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox7"
              type="checkbox"
              ng-model="chkBox7"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox7">G</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox8"
              type="checkbox"
              ng-model="chkBox8"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox8">H</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox9"
              type="checkbox"
              ng-model="chkBox9"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox9">I</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox10"
              type="checkbox"
              ng-model="chkBox10"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox10">J</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox11"
              type="checkbox"
              ng-model="chkBox11"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox11">K</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox12"
              type="checkbox"
              ng-model="chkBox12"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox12">L</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox13"
              type="checkbox"
              ng-model="chkBox13"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox13">M</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox14"
              type="checkbox"
              ng-model="chkBox14"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox14">N</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox15"
              type="checkbox"
              ng-model="chkBox15"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox15">O</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox16"
              type="checkbox"
              ng-model="chkBox16"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox16">P</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox17"
              type="checkbox"
              ng-model="chkBox17"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox17">Q</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox18"
              type="checkbox"
              ng-model="chkBox18"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox18">R</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox19"
              type="checkbox"
              ng-model="chkBox19"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox19">S</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox20"
              type="checkbox"
              ng-model="chkBox20"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox20">T</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox21"
              type="checkbox"
              ng-model="chkBox21"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox21">U</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox22"
              type="checkbox"
              ng-model="chkBox22"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox22">V</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox23"
              type="checkbox"
              ng-model="chkBox23"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox23">W</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox24"
              type="checkbox"
              ng-model="chkBox24"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox24">X</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox25"
              type="checkbox"
              ng-model="chkBox25"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox25">Y</label>
          </li>
          <li>
            <input
              class="incorrect"
              id="chkBox26"
              type="checkbox"
              ng-model="chkBox26"
              ng-true-value="1"
              ng-false-value="0"
              ng-click="searchOnInput()"
            />
            <label for="chkBox26">Z</label>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
    <div id="search-results-id">
    <ul id="search-results">
      <li id="words" ng-repeat="x in message" ng-show="posA || posB || posC || posD || posE || posF || posG || posH || posI || posJ || chkBox1 || chkBox2 || chkBox3
        || chkBox4 || chkBox5 || chkBox6 || chkBox7 || chkBox8 || chkBox9 || chkBox10 || chkBox11 || chkBox12 || chkBox13 || chkBox14
        || chkBox15 || chkBox16 || chkBox17 || chkBox18 || chkBox19 || chkBox20|| chkBox21 || chkBox22 || chkBox23 || chkBox24 || chkBox25 || chkBox26">{{x}}
      </li>
    </ul>
    </div>
    </div>
  </body>
  </body>
</html>
